<div class="d-flex flex-column-reverse">
    <div class="ratings-percentages" *ngFor="let count of ratingsCounts; let i = index" (click)="filterByRating(i)">
        <span style="font-size: 1.25em;">{{i}} star </span>
        <div class="percentage-bar">
            <app-rating-percentage-bar [rating]="count" [highestPossibleCount]="100" [showStarsImage]="false">
            </app-rating-percentage-bar>
        </div>
        <span>{{count/reviews.length * 100}}%</span>
    </div>
</div>
<div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Sorty by</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let term of selectableTerms" (click)="sortReviewsList(term.selectedTerm)"
            ngbDropdownItem>{{term.displayName}}</button>
    </div>
</div>
<div class="card-grid" *ngIf="reviews.length > 0">
    <div class="rev-card " *ngFor="let review of sortedReviews">
        <h5>{{review.author}}
            <span>({{review.rating}})</span>
            <app-rating-percentage-bar [rating]="review.rating"></app-rating-percentage-bar>
            <small>{{review.publish_date}}</small>
        </h5>

        <p>"{{review.body.substring(0, 35)}}" <app-review-detail-modal [id]="review.id"></app-review-detail-modal>
        </p>
    </div>
</div>