<ng-template #content let-modal>
    <div *ngIf="review">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{review.author}}</h4>
            <h4>{{review.rating}}</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
        </div>
        <div class="modal-body">
            <span>"{{review.body}}"</span>
        </div>
    </div>

</ng-template>

<span (click)="open(content)">(Read more)</span>