.bar-wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(170, 170, 170);
    position: relative;
    border-radius: 2%;
    .bar{
        height: 100%;
        background-color: rgb(26, 158, 26);
    }
    img {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 76%;
    }
}